/* Menu Categories */
/* Used in menu-categories.html */

#menucategories__item-page-meta {
	padding-top: 5px;
}

#menucategories__item-read-time {
	padding-left: 10px;
}

#menucategories__item-excerpt {
	font-size: 85%;
}
