{% if p.header.teaser %}
  {% capture teaser %}{{ p.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if p.id %}
  {% assign title = p.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = p.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {%- if include.type == "grid" and teaser -%}
      <div class="archive__item-teaser">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {%- endif -%}
    <h3 class="archive__item-title" itemprop="headline">
      {% if p.link %}
        <a href="{{ p.link }}">{{ title }}</a> <a href="{{ p.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ p.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h3>
    <div class="page__meta">
      {% if p.date %}
        <span><i class="far fa-fw fa-calendar-alt" aria-hidden="true"></i> <time datetime="{{ p.date | date_to_xmlschema }}">{{ p.date | date: "%B %-d, %Y" }}</time></span>
      {% else %}
        <span><i class="far fa-calendar" aria-hidden="true"></i> No date</span>
      {% endif %}
      {% if p.read_time %}
        {% assign post.read_time = p.read_time %}
        <span id="menucategories__item-read-time"><i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</span>
      {% endif %}    
    </div>
    {% if p.excerpt %}
      <p id="menucategories__item-excerpt" class="archive__item-excerpt" itemprop="description">{{ p.excerpt | markdownify | strip_html | truncate: 160 }}</p>
    {% else %}
      <p id="menucategories__item-excerpt" class="archive__item-excerpt" itemprop="description">No description available.</p>
    {% endif %}
  </article>
</div>
