---
layout: archive
---

{{ content }}

{%- if paginator %}
  {%- assign posts = paginator.posts %}
{%- else %}
  {%- assign posts = site.posts %}
{%- endif %}

<section id="posts" class="taxonomy__section">
  <h2 class="archive__subtitle">Recent posts</h2>
  <div class="entries-{{ page.entries_layout | default: 'list' }}">
  {%- for p in posts -%}
    {%- unless p.hidden -%}
      {%- include menu-categories.html -%}
    {%- endunless -%}
  {%- endfor -%}
  </div>
{% include paginator.html %}
</section>
